h1 {
  color: rgba(0, 200,100, 0.5);
  /* border-color: purple;
  border-width: 5px;
  border-style: solid; */

  border: 8px solid rgba(255, 100, 255, 0.5);
}

h4{
  background: rgba(255, 100, 50, 0.5);
}

body {
  background: pink;
  /* background: url(https://www.originwallcoverings.com/media/catalog/product/cache/0/thumbnail/600x600/100b301ec4e443a53184de7a29218dc0/3/4/347730.jpg);
  background-repeat: no-repeat;
  background-size: auto; */
}


/*
h1 {
  color: #FFAF00;
}
 Hexidecimal: RR GG BB, max value is FF
Most often, we just use color picker online
li {
  color: RGB(255, 100, 10);
}
  RGB, base10. 255 is max

h4 {
  color:rgba(11, 99, 255, 0.7);
   RGBA, same as RGB but a = alpha. alpha is from 0-1
}
*/
