/*
body {
  background: white;
}

 li {
    element
   border: 2px solid red;
 }


.completed {
   class
  text-decoration: line-through;
}
*/

#special{
  background: #11a39f;
  border: 3px solid #bf062e;
}

/* Star */
* {
  /* every element will have a black 1px border around them */
  /* Star tag applies effects to all elements */
  border: 1px solid black;
}

/* Descendent Selector */
li a {
 /* all a-tags within list-items will be red colored letters. */
 /* Desc selector will apply an effect to an element that's within
  another element. Think of a subcategory*/
  color: red;
}

/* adjacent Selector */
  h4 + ul {
    /* lists directly under each h4 head will have a pink border. Check html */
    /* Effect applies to the target element.
        Former element is adjacent to target element. Any element that
        is similar to target element but not adjacent to the former element
        will NOT have this effect applied to them.*/
    border: 4px solid pink;
  }

  /* Attribute Selector */
a[href="http://www.Google.com"] {
  /* a-tag's with link www.Google.com will have orange bkgrnd color */
  /* applies effect based on a given value or attribute */
  background: #fca649;
}
a[href*="you"] {
  background: #edcc13;
  /* gold background for any url with "you" in it */
}


/* nth of type */
ul:nth-of-type(3){
 /* this means the 3rd list background will be purple */
  background: #6e2da8;
}

li:nth-of-type(even){
  /* all even list-items will have a yellow background */
  background: #49fc88;
}
